$white: #fff;
$black: #192327;
$lightColor: #d2cbb9;
$quoteColor: linear-gradient(274.15deg, #2f2f2f 4.94%, rgba(50, 50, 50, 0.970273) 12.06%, #918567 116.35%, #d2cbb9 121.45%);
$lineColor: #cbcaca;
$doubleColor: linear-gradient(105.73deg, #192327 50.34%, #afa386 50.36%, #5f5e5b 96.33%);
$lighterTableColor: rgba(196, 196, 196, 0.45);
$darkerTableColor: rgba(255, 255, 255, 0.1);
$menuColor: linear-gradient(180deg, #192327 57.06%, #363c3e 99.93%, #616161 99.94%, #747771 99.95%, #616561 99.96%);
$backgroundDimmer: rgba(112, 111, 111, 0.55);
